{% extends "layout/base.html" %}

{% block title %}
<title> Admin </title>
{% endblock %}

{% block body %}
<div class="mx-5 mt-2 content">
    <div class="d-flex justify-content-between">
        <h1>Courses List</h1>
        <div class="d-flex align-items-center">
            <a class="btn btn-primary" href="/admin/courses/new">New Course</a>
        </div>
    </div>
    
    <div class="h-full">
        <div id="coursesPlaceholder" 
            class="d-flex justify-content-center align-items-center h-full">
            <h3>No courses, Please create one</h3>
        </div>

        <div id="courses"></div>
    </div>
</div>
<script src="/static/js/utils/authorizer.js"></script>
<script src="/static/js/admin/index.js"></script>
<script>
    authorizer([UserTypes.ADMIN, UserTypes.TEACHER]);

    updateCourseTable();
</script>
{% endblock %}
