{% extends "layout/base.html" %}

{% block title %}
<title>TipsyTakedown - {{ translations['auth']['callback_title'] }}</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ translations['auth']['callback_title'] }}</h1>
            <p>{{ translations['auth']['callback_message'] }}</p>
        </div>
    </div>
</div>
<script>
    {% if token %}
    const token = '{{ token }}';
    {% else %}
    const token = '{{ request.args.get('token') }}';
    {% endif %}

    if (token) {
        sessionStorage.setItem('token', token);
    }

    window.location.href = '/';
</script>
{% endblock %}
