{% macro steps_controller(current_step, step_ids, lazy_loading=False, bind_to_id='') %}
<div class="d-flex justify-content-between" style="width: 100%;">
    <button class="btn btn-primary" id="prevStep" disabled>
        <i class="fas fa-arrow-left"></i> Previous Step
    </button>

    <button class="btn btn-primary" id="nextStep">
        Next Step <i class="fas fa-arrow-right"></i>
    </button>
</div>

<script type="module">
    import { StepsController } from '/static/js/components/stepsController.js';

    const stepsController = new StepsController(
        parseInt('{{ current_step }}'), '{{step_ids}}'
    );
    
    
    if ('{{ lazy_loading }}' === 'False') {
        stepsController.initialize();
    }

    if ('{{ bind_to_id }}' !== '') {
        const bindToElement = document.querySelector('#{{ bind_to_id }}');
        globalThis.stepsController = stepsController;
        
        const event = document.createEvent('HTMLEvents');
        event.initEvent('stepsControllerLoaded', true, false);
        bindToElement.dispatchEvent(event);
        bindToElement.dispatchEvent(new Event('stepsControllerLoaded'));
    }
</script>
{%endmacro%}
