{% macro navbar() %}
<div class="mx-5">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
        <div>
            <a class="navbar-brand" href="/">TipsyTakedown</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/login">Sign In</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/auth/google"">Sign In with Google</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary m-2 my-sm-0" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{%- endmacro %}
