{% extends "layout/base.html" %}

{% block title %}
<title>TipsyTakedown</title>
{% endblock %}

{% block body %}
<div>
    <!-- TODO: Add a header image -->
    <div class="mb-3 overflow-hidden" style="max-height: 870px; margin-top: -4rem">
        <img src="/static/img/hero/hero-tango.jpg" class="w-100">
    </div>
    
    <div>
        <div class="flex justify-content-center">
            <h1 class="text-center">Unlimited Access to over 500 Lessons</h1>
            <p class="text-center">Learn to dance from the best instructors in the world</p>
        </div>

        <div class="mx-5 row">
            {% for course in courses %}
                <a class="col-3 mb-3" href="/course/{{course.get('course_id')}}/material/{{course.get('material_id')}}">
                    <div class="card rounded-4 shadow overflow-hidden">
                        <img loading="auto" alt="{{course.get('course_name')}}"
                        src="{{course.get('course_thumbnail')}}">
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

