{% extends "layout/base.html" %}

{% block title %}
<title>TipsyTakedown - Login</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h2>User Login</h2>
        <form>
            <div class="mb-3 col-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="mb-3 col-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    
    <script>
        // form.addEventListener('submit', (event) => {
        //     event.preventDefault();
        //     submitForm();
        // });
        function submitForm() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            
            // Perform validation and other necessary checks here
            
            // Create an object to hold the form data
            var formData = {
                email: email,
                password: password
            };
            
            // Send the form data to the server using AJAX or fetch API
            // Example using fetch API
            fetch('/api/auth/sign_in', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                const token = data.token;
                if (token) {
                    sessionStorage.setItem('token', token);
                    window.location.href = '/';
                }
        
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        
        // Attach the submitForm function to the form's submit event
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            submitForm(); // Call the submitForm function
        });
    </script>
</div>
{% endblock %}

