{% from "components/loader/loader.html" import loader %}
{% from "admin/course/components/createMaterial.html" import create_material %}
{% from "admin/course/components/createLesson/createLesson.html" import create_lesson %}
{% from "admin/course/components/generalInfo.html" import general_info %}
{% from "components/stepsController/stepsController.html" import steps_controller %}

{% set initialStep = 0 %}
{% set steps = "generalInfo, createMaterial, createLesson" %}
{% set globalSteps = "globalStepsController" %}
{% set title = 'Add Course' if not course else 'Edit Course' %}

{% extends "layout/base.html" %}

{% block title %}
<title> Admin </title>
<link rel="stylesheet" href="/static/css/admin/course/create.css">
{% endblock %}

{% block body %}
<input id="{{globalSteps}}" class="d-none"/>
<div class="d-flex flex-column mx-5 mt-2 content">
    <h1>{{ title }}</h1>
    
    <div id="steps" class="mt-4">
        <div id="generalInfo" class="d-none">
            {{ general_info(1, globalSteps, course) }}
        </div>
        <div id="createMaterial" class="d-none">
            {{ create_material(2) }}
        </div>
        <div id="createLesson" class="d-none h-full">
            {{ create_lesson(3, globalSteps, course) }}
        </div>
    </div>

    <div id="stepsController" class="d-flex h-full align-items-end w-full">
        {{ steps_controller(initialStep, steps, globalSteps) }}
    </div>
</div>

<script src="/static/js/utils/authorizer.js"></script>
<script>
    authorizer([UserTypes.ADMIN, UserTypes.TEACHER]);
</script>
{% endblock %}
