{% from "components/inputs/input_text.html" import input, input_text %}
{% macro general_info(step_number, global_step, course=None) %}
<form class="d-flex flex-column" style="flex: 1 1 auto; height: 40rem; overflow-y: auto;">
    <div class="mb-4">
        <h3>Step {{step_number}}: Course General Info</h3>
    </div>


    {{ input('name', 'Course Title') }}

    <div id="thumbnailButton" class="thumbnail mb-2">
        <div class="thumbnail-container">
            <img id="loadedThumbnail" class="d-none" src="" alt="Course Image">
            <svg id="thumbnailPlaceholder" class="bd-placeholder-img card-img-top" width="100%" height="180"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">
                    Image cap
                </text>
            </svg>
        </div>

        <img id="loadedThumbnail" src="" alt="Course Image" class="d-none">
    </div>

    {{ input('description', 'Enter short description') }}
    {{ input('long_description', 'Enter long description') }}


    <div class="d-none">
        {{ input('id', 'Course Title') }}
        {{ input_text('Thumbnail', 'thumbnail', None, 'file') }}
    </div>
</form>
<script type="module">
    import {spinnerTemplate} from '/static/js/components/spinner.js';

    class ThumnailController {
        constructor() {
            this.thumbnailButton = document.querySelector("#thumbnailButton");
            this.thumbnailInput = document.querySelector("#thumbnail");
            this.thumbnailPlaceholder = document.querySelector("#thumbnailPlaceholder");
            this.loadedThumbnail = document.querySelector("#loadedThumbnail");

            this.thumbnailButton.addEventListener("click", this.onClickThumbnailButton.bind(this));
            this.thumbnailInput.addEventListener("change", this.handleThumbnailChange.bind(this));
        }

        onClickThumbnailButton() {
            this.thumbnailInput.click();
        }

        handleThumbnailChange() {
            const file = this.thumbnailInput.files[0];
            const reader = new FileReader();

            reader.onload = (e) => {
                this.thumbnailPlaceholder.classList.add("d-none");

                this.loadedThumbnail.classList.remove("d-none");
                this.loadedThumbnail.src = e.target.result;
            };

            reader.readAsDataURL(file);
        }

        loadFromUrl(url) {
            this.thumbnailPlaceholder.classList.add("d-none");

            this.loadedThumbnail.classList.remove("d-none");
            this.loadedThumbnail.src = url;
        }
    }

    class FormController {
        initializeNextStep = false;
        creatingCourse = false;
        stepsController = null;

        constructor() {
            this.stepNumber = parseInt("{{ step_number }}");
            this.thumbnail = new ThumnailController();

            this.courseId = document.querySelector("#id");
            this.nextStepButton = document.querySelector("#nextStep");
            this.stepsElement = document.querySelector("#{{ global_step }}");

            this.stepsElement.addEventListener(
                "stepsControllerLoaded",
                this.addSaveBeforeNextStep.bind(this)
            );

            this.isEdit = "{{ course }}" !== "None";

            if (this.isEdit) {
                this.populateForm();
            }
        }

        populateForm() {
            const course = "{{ course }}" !== "" ? `{{ course | tojson if course else '{}' }}` : null;
            console.log(course);
            if (!course) {
                return;
            }

            const {name, description, long_description, thumbnail, id} = JSON.parse(course);
            document.querySelector("#name").value = name;
            document.querySelector("#description").value = description;
            document.querySelector("#long_description").value = long_description;
            document.querySelector("#id").value = id;

            this.thumbnail.loadFromUrl(thumbnail);
        }

        addSaveBeforeNextStep() {
            if (this.initializeNextStep) {
                return;
            }

            this.stepsController = globalThis.stepsController;

            stepsController.runBeforeNextStep(this.saveCourse.bind(this));
            this.initializeNextStep = true;
        }

        digestErrorsAndAlert(body) {
            const {errors} = body;

            if (!Array.isArray(errors)) {
                alert('An error occurred. Please try again later.');
                return;
            }

            let missingFields = '';
            errors.forEach(error => {
                missingFields += `* ${error.split(' ')[0]} \n`;
            });

            alert(`Missing fields: \n${missingFields}`);
        }

        async saveCourse() {
            const isCurrentStep = this.stepsController.isCurrentStep(this.stepNumber);
            if (isCurrentStep || this.creatingCourse || this.courseId.value) {
                return;
            }

            this.nextStepButton.innerHTML = spinnerTemplate('');

            this.creatingCourse = true;
            // TODO: if isEdit then updateCourseRequest else createCourseRequest
            const response = await this.createCourseRequest();

            let body;
            try {
                body = await response.json();
            } catch (e) {
                const errorMessage = 'An error occurred. Please try again later.';
                this.nextStepButton.innerHTML = "Next Step";
                alert(errorMessage);
                return errorMessage;
            }

            this.creatingCourse = false;
            if (!response.ok) {
                this.nextStepButton.innerHTML = "Next Step";

                this.digestErrorsAndAlert(body);

                return body;
            }

            this.nextStepButton.innerHTML = "Next Step";
            this.courseId.value = body.id;
        }

        createCourseRequest() {
            return fetch('/api/admin/course', {
                method: 'POST',
                headers: {
                    'Authorization': `${sessionStorage.getItem('token')}`
                },
                body: new FormData(document.querySelector('form'))
            });
        }

        updateCourseRequest() {
            return fetch(`/api/admin/course/${this.courseId.value}`, {
                method: 'PUT',
                headers: {
                    'Authorization': `${sessionStorage.getItem('token')}`
                },
                body: new FormData(document.querySelector('form'))
            });
        }
    }

    const formController = new FormController();
</script>
{% endmacro %}
